* {
    margin: 0;
    padding: 0;
    font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif'
}

/*IDs*/
#favUs {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    padding: 15px;
    overflow: hidden;
}
/*CLASSes*/


.encabezado {
    display: flex;
    justify-content: center;
}


.part1 {
    padding: 2em;
    width: 145px;
}
/*Ya es responsive :D*/


.part1 img {
    width: 145px;
    height: 145px;
}

.encabezado h2 {
    padding: 1em;
    margin: 1em 1em 0 1em;
    color: white;
    text-align: center;
}

.part2 {
    top: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.background {
    background-color: #6441A4;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.header {
    background-color: black;
    padding: 20px;
    height: 25px;
}

.logo {
    width: auto;
    height: 30px;
}

.globo {
    width: 80%;
    margin: 0 auto;
    color:white;
    margin-bottom: 20px;
}
.row{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 15px 20px 35px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 7px grey;
    transition: box-shadow ease-in-out, background 200ms ease-in-out;
    cursor: pointer;
}

.row a {
    text-decoration: none;
    color: inherit;
}

.row:hover {
    box-shadow: 0 2px 15px grey;
}

.logoF {
    width: 145px;
    height: 145px;
    float: left;
    border-radius: 50%;
}

.usuarioF {
    margin-top: 0;
    font-size: 1em;
    text-align: center;
}

.row, .statusF, .fans {
    text-align: center;
    font-size: 1em;
    margin-top: 15px;
}

@media (max-width: 678px) {
    .logoF {
        margin-bottom: 15px;
    }
    .logo-container {
        display: flex;
        justify-content: center;
    }
}
